@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF5400;
}
.all-heading{
    color: #131318;
    font-size: 40px;
    font-weight: 800; 
}

/* Banner Styling */
.banner-section{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00)), url('../Images/Group13.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    max-width: 1170px;
    border-radius: 16px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.banner-section .banner-heading{
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-top: 110px;
}
.banner-section .banner-para{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
    text-align: center;
    padding-left: 247px;
    padding-bottom: 30px;
}
.option-bar{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 300px;
}
.option-bar .where-go{
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    border: 0px;
}
.option-bar .date-selection{
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    padding-top: 1px;
    border: 0px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 14px;
    font-weight: 500;
}
.option-bar .tour-type-selection{
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    border: 0px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 14px;
    font-weight: 500;
}
.option-bar .find-button{
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 10px;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 10px;
}

/* Popular Styling */
.popular-section{
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 80px;
}
.popular-section .popular-tour{
    max-width: 600px;
    padding-right: 70px;
    line-height: 32px;
}
.popular-section .advertise-picture img{
    width: 540px;
    height: 550px;
    border-radius: 16px;
}
.read-more{
    width: 174px;
    height: 52px;
}

/* Destination Styling */
.destination{
    max-width: 1170;
    padding-top: 100px;
}
.destination .all-heading{
    text-align: center;
}
.destination .all-para{
    margin: 0 auto;
    text-align: center;
    width: 600px;
    line-height: 25px;
    color: rgba(19, 19, 24, 0.70);
}
.destination .maldives-indonesia{
    display: flex;
    justify-content: center;
    gap: 15px;
    border-radius: 16px;
    margin-top: 30px;
}
.destination .lanka-america-kashmir{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.destination .bangladesh-bandarban{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}
.maldives-indonesia  p{
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 220px;
    
}
.lanka-america-kashmir p{
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 120px;
}
.bangladesh-bandarban p{
    position: absolute;
    color: white;
    font-size: 28px;
    font-weight: 800;
    margin-top: 130px;
    margin-left: 170px;
}

/* Why Choose Us Section Styling */
.choose-us .all-heading{
    text-align: center;
    padding-top: 40px;
}
.choose-us .all-para{
    text-align: center;
    width: 650px;
    margin: 0 auto;
    line-height: 25px;
    color: rgba(19, 19, 24, 0.70);
}
.handpicked-hotels{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    
}
.world-class-service{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.best-price{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
}
.two-boxes{
    max-width: 1170;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 20px; 
}
.mini-heading{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 35px;
    margin-bottom: 20px;
}
.mini-para{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
    margin-left: 35px;
}
.logo{
    margin-left: 35px;
    margin-top: 20px; 
}

/* Deals & Discount Section Styling */
.deals-discount{
    text-align: center;
    padding-top: 40px;
}
.deals-discount .all-para{
    width: 643px;
    margin: 0 auto;
    line-height: 25px;
}
.deals-pictures{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 40px;
}
.accommodation{
    display: flex;
    gap: 30px;
}
.holiday-package{
    width: 570px;
    height: 50vh;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin: 50px 50px 55px 535px;
    padding-left: 10px;
}
.holiday-package .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-left: 35px;
}
.book-now{
    width: 120px;
    height: 50px;
    margin-left: 35px;
}
.all-packages{
    width: 180px;
    height: 52px;
    margin-top: 50px;
    margin-left: 650px;
}
.holiday-package2{
    width: 570px;
    height: 50vh;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin: 600px 30px;
    padding-left: 10px;
}
.holiday-package2 .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-left: 35px;
}
.holiday-package3{
    width: 570px;
    height: 50vh;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin: 1120px 50px 55px 535px;
    padding-left: 10px;
}
.holiday-package3 .price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-left: 35px;
}

/* Newsletter Section Styling */

.newsletter-picture{
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    gap: 24px;
}
.newsletter-box{
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-box h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
    padding-top: 10px;
}
.newsletter-box p{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 40px;
}
.input-section{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.insert-part{
    width: 360px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 20px;
    padding-left: 20px;   
}
.subscribe{
    text-align: center;
    width: 380px;
    height: 52px;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 20px;   
}
.line{
    border: solid rgba(128, 128, 128, 0.108);
    width: 380px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 1px;
    margin-left: 40px;
}

/* Footer Section Styling */
.logo-title{
    display: flex;
    gap: 15px;
    justify-content: center;    
}






















/* Responsive Part */

/* Mobile Device */
